<!-- Top menu -->
<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
        <a class="navbar-brand scroll-link" style="border: 0;" href="#top-content">
            <img src="https://jt0gdq.ch.files.1drv.com/y4m2ulz1Iu5ebu8_FQV5q55VwwYyPi8JRKb-Myi8N1Od-mjw62TzTFFTn-JnS6ajGRRWG5mSWXYPKIieJlAIWzoi-N0ySsej1cQYkKqcl4R7tpAufqdI-Ggebh0g96CE851RaGizvOespIUDMZhMMxJJgE50WWMbCja-Fng_L9EnI75dSUMPop2XsX23r_5YROExRVeuDrCfqORWXlsZDoouw"
                width="50" height="50" class="rounded-circle d-inline-block align-top" alt="COMPANY LOGO">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-1">{{ 'HOMENAV.WHATWEDO' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-2">{{ 'HOMENAV.ONBOARD' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-7">{{ 'HOMENAV.SERVICE' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-5">{{ 'HOMENAV.PRICING' | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-6">{{ 'HOMENAV.CONTACTUS' | translate }}</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link scroll-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">{{ 'HOMENAV.SIGNUP' | translate }}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="openSignupModal('cba')">
                            {{ 'HOMENAV.CLIENT' | translate }}
                        </a>
                        <a class="dropdown-item" (click)="openSignupModal('fu')"> {{ 'HOMENAV.FREELANCER' | translate }}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-4"><i class="fas fa-sign-in-alt"></i>&nbsp;{{ 'HOMENAV.LOGIN' | translate }}</a>
                </li>
                <li class="nav-item dropdown">
                    <select #langSelect (change)="translate.use(langSelect.value)">
                        <option *ngFor="let lang of translate.getLangs()" [value]="lang"
                            [selected]="lang === translate.currentLang">{{ lang }}</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text">
                    <h1 class="wow fadeInLeftBig">{{'HOMENAV.BETTERSERVICECAPTION' | translate}}
                    </h1>
                    <div class="description wow fadeInUp">
                        <p>
                            {{'HOMENAV.BETTERSERVICESUBCAPTION' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>