<!-- Top menu -->
<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
        <a class="navbar-brand scroll-link" style="border: 0;" href="#top-content">
            <img src="https://jt0gdq.ch.files.1drv.com/y4m2ulz1Iu5ebu8_FQV5q55VwwYyPi8JRKb-Myi8N1Od-mjw62TzTFFTn-JnS6ajGRRWG5mSWXYPKIieJlAIWzoi-N0ySsej1cQYkKqcl4R7tpAufqdI-Ggebh0g96CE851RaGizvOespIUDMZhMMxJJgE50WWMbCja-Fng_L9EnI75dSUMPop2XsX23r_5YROExRVeuDrCfqORWXlsZDoouw"
                width="50" height="50" class="rounded-circle d-inline-block align-top" alt="COMPANY LOGO">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-1">What we do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-2">Onboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-7">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-5">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-6">Contact Us</a>
                </li>
                
                <li class="nav-item dropdown">
                    <!-- Button to Open the Modal -->
                    <a class="nav-link scroll-link dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">Sign up</a>
                    <div class="dropdown-menu">
                        <a  class="dropdown-item" (click)="openSignupModal('cba')">
                            Client
                        </a>
                        <a class="dropdown-item" (click)="openSignupModal('fu')"
                            [routerLink]="['/signup','fu']">Freelancer</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-4"><i class="fas fa-sign-in-alt"></i>&nbsp;LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text">
                    <h1 class="wow fadeInLeftBig">BETTER SERVICE IN BETTER WAY
                    </h1>
                    <div class="description wow fadeInUp">
                        <p>
                            The global services to fulfil you're business needs.
                            We are here to grow you're business.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
