<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
	integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	
<!-- Section 6 Footer -->
<div class="section-6-container">
	<section class="contact py-5 bg-light" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>{{ 'TOUCH.GETINTOUCH' | translate }}</h4>
					<hr>
				</div>
				<div class="col-md-6">
					<div class="address">

						<h5>{{ 'TOUCH.ADDRESS' | translate }}</h5>
						<ul class="list-unstyled">
							<li> T-Mobile Customer Relations</li>
							<li> PO Box 37380</li>
							<li> Albuquerque, NM 87176-7380</li>
						</ul>
						<p>{{ 'TOUCH.DONTSENDANYTHING' | translate }}</p>

					</div>
					<div class="email">
						<h5>{{ 'TOUCH.EMAIL' | translate }}</h5>
						<ul class="list-unstyled">
							<li> info@email.com</li>
							<li> info@email.com</li>
						</ul>
					</div>
					<div class="phone">
						<h5>{{ 'TOUCH.PHONE' | translate }}</h5>
						<ul class="list-unstyled">
							<li> +91- 8800XXXXXX34</li>
							<li> +91- 8800XXXXXX34</li>
						</ul>
					</div>
					<hr>
					<div class="social">
						<ul class="list-inline list-unstyled">
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
							</li>
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-youtube-play fa-2x"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-body">
							<form>
								<div class="form-row">
									<div class="form-group col-md-6">
										<input id="Full Name" name="Full Name" placeholder="{{ 'TOUCH.FULLNAME' | translate }}"
											class="form-control" type="text">
									</div>
									<div class="form-group col-md-6">
										<input type="email" class="form-control" id="inputEmail4" placeholder="{{ 'TOUCH.EMAIL1' | translate }}">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<input id="Mobile No." name="Mobile No." placeholder="{{ 'TOUCH.MOBILENO' | translate }}"
											class="form-control" required="required" type="text">
									</div>
									<div class="form-group col-md-6">

										<select id="inputState" class="form-control">
											<option selected>{{ 'TOUCH.CHOOSE' | translate }}</option>
											<option>{{ 'TOUCH.NEWBUYER' | translate }} </option>
											<option>{{ 'TOUCH.AUCTION' | translate }} </option>
											<option>{{ 'TOUCH.COMPLAINT' | translate }} </option>
											<option>{{ 'TOUCH.FEEDBACK' | translate }} </option>
										</select>
									</div>
									<div class="form-group col-md-12">
										<textarea id="comment" name="comment" cols="40" rows="5"
											placeholder="{{ 'TOUCH.YOURMESSAGE' | translate }}" class="form-control"></textarea>
									</div>
								</div>

								<div class="form-row">
									<button type="button" class="btn btn-danger">{{ 'TOUCH.SUBMIT' | translate }}</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>
</div>