<div class="container">
    <form [formGroup]="createoreditFormGroup" (ngSubmit)="preparetosavewidgetdetails()">
        <div class="row justify-content-center h-100">
            <div class="col-md-2">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' accept=".png,.jpg,.jpeg" #fileInputLogo
                            (change)="uploadFile($event , 'logoId')" />
                    </div>
                    <div class="avatar-square-preview" *ngIf="companylogoId != null">
                        <div id="imagePreview" [style.backgroundImage]="'url('+ companylogoId +')'">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info btn-md" (click)="fileInputLogo.click()">
                    <span *ngIf="companylogoId != null ; else elseNoLogoID">Re-Upload
                        Logo</span>
                    <ng-template #elseNoLogoID>
                        Upload Logo
                    </ng-template>
                </button>
            </div>
            <div class="col-md-3">
                <div class="form-row">
                    <div class="form-group">
                        <span>
                            <i class=" fa fa-briefcase  form-control-icon"></i>
                        </span>
                        <input type="text" placeholder="Company Name*" class="form-control"
                            formControlName="companyname"
                            [ngClass]="{ 'is-invalid': issubmit && f.companyname.errors }">
                        <div *ngIf="issubmit && f.companyname.errors" class="invalid-feedback">
                            <div *ngIf="f.companyname.errors.required">Company Name is required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' accept=".png,.jpg,.jpeg" #fileInputCmImgURLId
                            (change)="uploadFile($event , 'companyimgurlId')" />
                    </div>
                    <div class="avatar-square-preview" *ngIf="companyimgurlId != null">
                        <div id="imagePreview" [style.backgroundImage]="'url('+ companyimgurlId +')'">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info btn-md" (click)="fileInputCmImgURLId.click()">
                    <span *ngIf="companyimgurlId != null ; else elseCompanyImgURLID">Re-Upload
                        Company Image URL</span>
                    <ng-template #elseCompanyImgURLID>
                        Upload Company Image URL
                    </ng-template>
                </button>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' accept=".png,.jpg,.jpeg" #fileInputCmBgId
                            (change)="uploadFile($event , 'companybgurlId')" />
                    </div>
                    <div class="avatar-square-preview" *ngIf="companybgurlId != null">
                        <div id="imagePreview" [style.backgroundImage]="'url('+ companybgurlId +')'">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info btn-md" (click)="fileInputCmBgId.click()">
                    <span *ngIf="companybgurlId != null ; else elseCompanyBGImgURLID">Re-Upload
                        Company Background Image URL</span>
                    <ng-template #elseCompanyBGImgURLID>
                        Upload Company Background Image URL
                    </ng-template>
                </button>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <span>
                            <i class=" fa fa-address-book  form-control-icon"></i>
                        </span>
                        <textarea placeholder="Company Address*" class="form-control"
                            formControlName="footercompanyaddress"
                            [ngClass]="{ 'is-invalid': issubmit && f.footercompanyaddress.errors }"></textarea>
                        <div *ngIf="issubmit && f.footercompanyaddress.errors" class="invalid-feedback">
                            <div *ngIf="f.footercompanyaddress.errors.required">Company Address is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <span>
                            <i class=" fa fa-address-book  form-control-icon"></i>
                        </span>
                        <textarea placeholder="Company Content" class="form-control"
                            formControlName="footercontent"></textarea>
                    </div>
                    <div class="form-group col-md-3">
                        <textarea placeholder="Company FaceBook URL" class="form-control"
                            formControlName="footerfburl"></textarea>
                    </div>

                    <div class="form-group col-md-3">
                        <textarea placeholder="Company Instagram URL" class="form-control"
                            formControlName="footerinstaurl"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Widget</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/myservices']">Back To My Service</button>
    </form>
</div>