
  <div class="section-7-container section-container">
    <div class="container">
      <div class="row">
        <div class="col section-7 section-description wow fadeIn">
          <h2>Our Services</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 section-7-box wow fadeInLeft">
          <div class="row">
            <div class="col-md-3">
              <div class="section-7-box-icon">
                <i class="fa fa-home"></i>
              </div>
            </div>
            <div class="col-md-9">
              <h3>Apartment</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                Ut wisi enim ad minim veniam, quis nostrud.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 section-7-box wow fadeInLeft">
          <div class="row">
            <div class="col-md-3">
              <div class="section-7-box-icon">
                <i class="fab fa-black-tie"></i>
              </div>
            </div>
            <div class="col-md-9">
              <h3>Freelancers</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                Ut wisi enim ad minim veniam, quis nostrud.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
