<div class="card card-container">
  <img id="profile-img" class="profile-img-card" src="https://bootdey.com/img/Content/avatar/avatar6.png" />
  <p id="profile-name" class="profile-name-card"></p>
  <form>
    <span id="reauth-email" class="reauth-email"></span>
    <div class="form-group">
      <input type="email" id="inputEmail" formControlName="username"
        [ngClass]="{ 'is-invalid': loginSubmitted && loginvar.username.errors }" class="form-control"
        placeholder="Email address" autofocus>
    </div>
    <div class="form-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName="password"
        [ngClass]="{ 'is-invalid': loginSubmitted && loginvar.password.errors }">
    </div>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
  </form>
  <a [routerLink]="['/_nav', '_fpwd'] " class="forgot-password">
    Forgot the password?
  </a>
  <a [routerLink]="['/_nav', '_signup'] " class="btn  btn-sm">Do not have an account?
    SIGN UP</a>




</div><!-- /card-container -->
