<div class="section-2-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col section-2 section-description wow fadeIn">
                <h2>{{ 'CLIENTONBOARD.OURCUSTOMERS' | translate }}</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col section-2-box wow fadeInLeft">
                    <h3>{{ 'CLIENTONBOARD.CLIENTONBOARD' | translate }}</h3>
                    <p>{{ 'CLIENTONBOARD.CLIENT' | translate }}</p>
                    <p>{{ 'CLIENTONBOARD.CLIENT1' | translate }}</p>
                    <p>{{ 'CLIENTONBOARD.CLIENT2' | translate }}</p>

            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-sm-2">
                <span class="fas fa-globe logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>{{ 'SERVICE.GRABTHESERVICE' | translate }}</h4>
                <h6 style="line-height: 20px; text-align: left;">
                    <p>{{ 'SERVICE.GRABTHESERVICE1' | translate }}</p>
                </h6>
            </div>
            <div class="col-sm-2">
                <span class="fa fa-university logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>{{ 'SERVICE.PAYFORSERVICE' | translate }}</h4>
                <h6 style="line-height: 20px; text-align: left;">
                    <p>{{ 'SERVICE.PAYFORSERVICE1' | translate }}</p>
                </h6>
            </div>
           
        </div>


        <div class="row">
            <div class="col-sm-2">
                <span class="fa fa-check logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>{{ 'SERVICE.PUBLISHYOUOWNPLATFORM' | translate }}</h4>
                <h6 style="line-height: 20px;text-align: left;">
                    <p>{{ 'SERVICE.PUBLISHYOUOWNPLATFORM1' | translate }}</p>
                </h6>
            </div>
            
        </div>
        <hr>
    </div>


</div>