<div class="section-1-container section-container">
    <div class="container">
      <div class="row">
        <div class="col section-1 section-description wow fadeIn">
          <h2>{{ 'HOMEWHATWEDO.ABOUTUS' | translate }}</h2>
          <div class="divider-1 wow fadeInUp"><span></span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 section-1-box wow fadeInUp">
          <div class="row">
            <div class="col-md-4">
              <div class="section-1-box-icon">
                <i class="fas fa-globe"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h3>{{ 'HOMEWHATWEDO.WHOWEARE' | translate }}</h3>
              <p>{{ 'HOMEWHATWEDO.WHOWEARE_DETAILS' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 section-1-box wow fadeInDown">
          <div class="row">
            <div class="col-md-4">
              <div class="section-1-box-icon">
                <i class="fas fa-cog"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h3>{{ 'HOMEWHATWEDO.WHATWEDO' | translate }}</h3>
              <p>{{ 'HOMEWHATWEDO.WHATWEDO_DETAILS' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 section-1-box wow fadeInUp">
          <div class="row">
            <div class="col-md-4">
              <div class="section-1-box-icon">
                <i class="fas fa-desktop"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h3>{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE' | translate }}</h3>
              <p>{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE_DETAILS' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 section-1-box wow fadeInUp">
          <div class="row">
            <div class="col-md-4">
              <div class="section-1-box-icon">
                <i class="fas fa-briefcase"></i>
              </div>
            </div>
            <div class="col-md-8">
              <h3>{{ 'HOMEWHATWEDO.WHOITHELPS' | translate }}</h3>
              <p>{{ 'HOMEWHATWEDO.WHOITHELPS_DETAILS' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>