<div class="row">
  <div class="col section-1 section-description wow fadeIn">
    <h2>{{ 'HOMEWHATWEDO.ABOUTUS' | translate }}</h2>
    <div class="divider-1 wow fadeInUp"><span></span></div>
  </div>
</div>
    <div class="container">
  <div class="card" >
    <h3 class="title">{{ 'HOMEWHATWEDO.WHOWEARE' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.WHOWEARE_DETAILS' | translate }}</p>
    </div>
  </div>
  <div class="card">
    <h3 class="title">{{ 'HOMEWHATWEDO.WHATWEDO' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.WHATWEDO_DETAILS' | translate }}</p>
    </div>
  </div>
  <div class="card">
    <h3 class="title">{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.HOWDOWEGETITDONE_DETAILS' | translate }}</p>
    </div>
  </div>
  <div class="card">
    <h3 class="title">{{ 'HOMEWHATWEDO.WHOITHELPS' | translate }}</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="text">
      <p>{{ 'HOMEWHATWEDO.WHOITHELPS_DETAILS' | translate }}</p>
    </div>
  </div>
</div>