<div class="container p-0">
    <div class="row">
        <div class="col-md-5 col-xl-3">
        </div>
        <div class="col-md-7 col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions float-right">
                    </div>
                    <h5 class="card-title mb-0">Basic info</h5>
                </div>
                <form [formGroup]="signupAdminForm" (ngSubmit)="saveAdmin()">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label for="inputUsername">Email Address</label>
                                    <input type="text" class="form-control" formControlName="username"
                                    email="true" [ngClass]="{ 'is-invalid': issubmit && f.username.errors }">
                                    <div *ngIf="issubmit && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required || f.username.errors.email">Email must be a valid email address
                                        </div>
                                        <div *ngIf="f.username.errors.maxlength">Username cant exceed 40
                                          char</div>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputFirstName">First Name*</label>
                                    <input type="text" class="form-control" id="inputFirstName"
                                        [ngClass]="{ 'is-invalid': issubmit && f.firstname.errors }"
                                        formControlName="firstname">
                                    <div *ngIf="issubmit && f.firstname.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstname.errors.required">First Name is required
                                        </div>
                                        <div *ngIf="f.firstname.errors.maxlength">First Name cant exceed 40
                                            char</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputLastName">Last Name*</label>
                                    <input type="text" class="form-control" id="inputLastName"
                                        formControlName="lastname"
                                        [ngClass]="{ 'is-invalid': issubmit && f.lastname.errors }">
                                    <div *ngIf="issubmit && f.lastname.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastname.errors.required">Last Name is required
                                        </div>
                                        <div *ngIf="f.lastname.errors.maxlength">Last Name cant exceed 40
                                            char</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPreferedLang">User Group*
                                    </label>
                                    <select class="form-control" formControlName="rolecode"
                                    [ngClass]="{ 'is-invalid': issubmit && f.rolecode.errors }">
                                        <option value="">-- Select User Group --</option>
                                        <option value="CORE_SERVICE_SUPPORT_TEAM">Core Service Support Team</option>
                                        <option value="CORE_SERVICE_SUPPORT_MANAGER">Core Service Support Manager</option>
                                    </select>
                                    <div *ngIf="issubmit && f.rolecode.errors" class="invalid-feedback">
                                        <div *ngIf="f.rolecode.errors.required">User Group is required
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                     <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>