<div class="container">
    <div class="row placeholders mb-5 justify-content-between">
        <div class="col-6 col-sm-2 placeholder text-center">
            <img src="{{stage1Img}}" class="mx-auto img-fluid rounded-circle">
            <a class="btn bt" routerLink='/vieworeditprofile/{{userService.currentUserValue.userId}}'
                *ngIf="!userService.currentUserValue.freeLanceDetails.isprofilecompleted; else elseFU">
                <h6>Fill out In-Complete Profile</h6>
            </a>
            <ng-template #elseFU>
                <h6>Profile Updated</h6>
            </ng-template>
        </div>
        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isprofilecompleted ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-2 placeholder text-center">
            <img src="{{stage2Img}}" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h6 *ngIf="!userService.currentUserValue.freeLanceDetails.isregfeedone && istimelap && 
            userService.currentUserValue.freeLanceDetails.isprofilecompleted">
                <a href=" javascript: return false;" (click)="openPaymentComponent()">Payment
                    {{referenceobj[0].label}}</a>
            </h6>
            <h6 *ngIf=" istimelap &&  !userService.currentUserValue.freeLanceDetails.isprofilecompleted">
                Payment {{referenceobj[0].label}}
            </h6>
            <h6 *ngIf="userService.currentUserValue.freeLanceDetails.isregfeedone">
                Payment Completed
            </h6>
        </div>
        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isregfeedone ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-2 placeholder text-center">
            <img src="{{stage3Img}}" class="mx-auto img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h6>BG Verification Initiated</h6>
        </div>
        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isbgstarted ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-2 placeholder text-center">
            <img src="{{stage4Img}}" class="mx-auto img-fluid rounded-circle"
                alt="Background Verification is In Progress">
            <h6>BG Verification In Progress</h6>
        </div>
        <div class="stepConectorPiece"
            [ngStyle]="{'background': userService.currentUserValue.freeLanceDetails.isbgdone ? 'green':'lightgrey'}">
        </div>
        <div class="col-6 col-sm-2 placeholder text-center">
            <img src="{{stage5Img}}" class="mx-auto img-fluid rounded-circle" alt="Final Result">
            <h6>BG Verification Final Result</h6>
        </div>
    </div>
    <div *ngIf="this.userService.currentUserValue.freeLanceDetails.isregfeedone && 
        this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED' &&
        this.userService.currentUserValue.freeLanceDetails.accountno != null" >
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-6 col-lg-4 mb-3" *ngFor="let card of infoCards, index as i">
                <div class="card mb-3 h-60">
                    <div class="card-body">
                        <div class="card-title">
                            <h4>{{ card.name }}
                                <i class="fa fa-question-circle" *ngIf="i==0"
                                    title="Upcoming job amount will calculate before 3 days of Job start date"
                                    style="font-size:10px;color:rgb(76, 0, 255)"></i>
                            </h4>
                            <p class="card-text">
                                <i class="fa fa-inr fa-4x" *ngIf="card.value > 0" style="color:green;"></i>
                                <i *ngIf="card.value == 0" class="fa fa-inr  fa-4x" style="color:orange;"></i>
                            <p>
                            <h2> {{ card.value | number}}</h2>
                            <p class="card-text"><small class="text-muted">Last updated {{indiaTime}} mins ago</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseFUNewJobs" aria-expanded="true"
                            aria-controls="collapseOne">
                            My OnGoing / UpComing Jobs
                        </a>
                    </h5>
                </div>
                <div id="collapseFUNewJobs" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                                *ngFor="let element of upcomingJobList">
                                <div class="card text-center h-100">
                                    <div class="card-header">
                                        <span class="display-4">
                                            Job#{{element.jobId}}</span>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="card-title">
                                            <span class="display-4"><i
                                                    class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span><br>
                                            <span class="mb-4"> Start Date : {{element.jobstartedon}}
                                            </span>
                                        </div>
                                        <div class="card-text">
                                            End Date : {{element.jobendedon}}
                                        </div>
                                        <div class="card-text">
                                            <span> Job Details: </span>
                                            <i class="fa fa-briefcase">{{element.bizname}}</i>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <small class="text-muted ">
                                                <p class="text-danger">
                                                    *Cancel the job within 15 mins of job is accepted. After 15 mins
                                                    Cancellation is <b><u>Not Possible</u></b>
                                                </p>
                                            </small>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">

                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" class="btn btn-danger btn-sm"
                                                    (click)="cancel(element.jobId)">Cancel Within 15 Mins</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseFUUpcomingJobs" aria-expanded="true"
                            aria-controls="collapseOne">
                            New Jobs
                        </a>
                    </h5>
                </div>
                <div id="collapseFUUpcomingJobs" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                                *ngFor="let element of newJobList">
                                <div class="card text-center h-100">
                                    <div class="card-header">
                                        <span class="display-4">
                                            Job#{{element.jobId}}</span>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="card-title">
                                            <span class="display-4"><i
                                                    class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span><br>
                                        </div>
                                        <div class="card-title">
                                            <span class="mb-4"> Start Date :{{element.jobstartedon}}</span>
                                        </div>
                                        <div class="card-text">
                                            End Date : {{element.jobendedon}}<br>
                                        </div>
                                        <div class="card-text">
                                            <span> Job Details: </span>
                                            <i class="fa fa-briefcase">{{element.bizname}}</i>
                                        </div>
                                    </div>
                                    <div class="card-footer" *ngIf="upcomingJobList.length < 3">
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="accept(element.jobId)">Accept</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseCompletedJobs" aria-expanded="true"
                            aria-controls="collapseOne">
                            My Completed Jobs
                        </a>
                    </h5>
                </div>
                <div id="collapseCompletedJobs" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                    data-parent="#accordion">
                    <div class="card-body">
                        <div class="card-deck">
                            <div class="col-sm-4 mb-3 mb-md-0" style="margin-bottom:8px !important"
                                *ngFor="let element of completedJobList">
                                <div class="card text-center h-100">
                                    <div class="card-header">
                                        <span class="display-4">
                                            Job#{{element.jobId}}</span>
                                    </div>
                                    <div class="card-body d-flex flex-column">
                                        <div class="card-title">
                                            <span class="display-4">
                                                <i class="fa fa-inr">{{element.tofreelanceamount | number}}</i></span>
                                        </div>
                                        <div class="card-title">
                                            <span class="mb-4"> Start Date :{{element.jobstartedon}}</span>
                                        </div>
                                        <div class="card-text">
                                            End Date : {{element.jobendedon}}<br>
                                        </div>
                                        <div class="card-text">
                                            <span> Job Details: </span>
                                            <i class="fa fa-briefcase">{{element.bizname}}</i>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row"
                                            *ngIf="element.isjobamtpaidtocompany && element.isjobamtpaidtofu">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                    [routerLink]="['/payment',element.futxnid]">Payment Details</button>
                                            </div>
                                        </div>
                                        <div class="row" *ngIf="!element.isjobamtpaidtocompany">
                                            <small class="text-muted ">
                                                <p class="text-danger">*{{element.bizname}} is pending with the payment.
                                                    Please ensure payment is completed before you leave from the
                                                    Job location. <br> It is your <b><u>RESPONSIBILITY</u></b> .
                                                    <br>
                                                    *Company <b><u>will not take any responsiblity </u></b> for this job
                                                    payment to you until {{element.bizname}} paid fully.
                                                </p>
                                            </small>
                                        </div>
                                        <div class="row"
                                            *ngIf="element.isjobamtpaidtocompany && !element.isjobamtpaidtofu">
                                            <small class="text-muted ">
                                                <p class="text-info">
                                                    Payment in progress.We will notify once the payment credits into
                                                    your
                                                    account.
                                                </p>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="this.userService.currentUserValue.freeLanceDetails.isregfeedone && 
        this.userService.currentUserValue.freeLanceDetails.bgcurrentstatus == 'BG_APPROVED' &&
        this.userService.currentUserValue.freeLanceDetails.accountno == null" >
        <a class="btn bt" routerLink='/vieworeditprofile/{{userService.currentUserValue.userId}}'>
        <h6>We need bank details to pay you on job invoice, please update bank details </h6>
    </a>
    </div>
</div>