<div class="container p-1">
    <div class="row">
        <div class="col-md-5 col-xl-2">
        </div>
        <div class="col-md-7 col-xl-9">
            <form>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">New Service Request Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <input type="text"  placeholder="Service Name*" class="form-control" formControlName="username">
                            </div>
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <input type="text" placeholder="Service Image*" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <input type="text" placeholder="Domain*" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <select id="inputPreferedLang" class="form-control" formControlName="preferlang">
                                    <option value="en">English</option>
                                    <option value="hi">हिंदी</option>
                                    <option value="te">తెలుగు</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <textarea  placeholder="Full Content*" class="form-control"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <textarea   placeholder="Description*" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <input type="text" placeholder="Valid Period*" class="form-control" formControlName="username">
                            </div>
                            <div class="form-group col-md-6">
                                <span>
                                    <i class="fa fa-user form-control-icon"></i>
                                </span>
                                <input type="text" placeholder="Price*" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
               
                </div>
            </form>
        </div>
    </div>
</div>