<div class="section-2-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col section-2-box wow fadeInLeft">
                <h3>{{ 'CLIENTONBOARD.FREELANCER' | translate }}</h3>
                <p>{{ 'CLIENTONBOARD.FREELANCER1' | translate }}</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <span class="fa fa-user logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>Update Your Account</h4>
                <h6 style="line-height: 20px;text-align: left;">
                    <p>To start with complete the mandatory profile details to choose the category of service and
                        related sub category based on your skill and experience.</p>
                </h6>
            </div>
           
            <div class="col-sm-2">
                <span class="fa fa-binoculars  logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>Background Check</h4>
                <h6 style="line-height: 20px;text-align: left;">
                    <p>We will conduct a background check on your profile. Duration to complete the background check
                        will take 7 working days.</p>
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <span class="fa fa-university logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>Pay For Opportunity</h4>
                <h6 style="line-height: 20px; text-align: left;">
                    <p>We will notify you once the background check is successful to proceed with our secure gateway
                        payment process to stay connected with the job opportunities. </p>
                </h6>
            </div>
            <div class="col-sm-2">
                <span class="fas fa-briefcase logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>Job Assignment</h4>
                <h6 style="line-height: 20px; text-align: left;">
                    <p>Waiting is paining. To avoid, we have designed an automated system which always connect with you
                        by sending job notification based on your skills. <b>Grab IT, Accept IT, Finish IT</b></p>
                </h6>
            </div>
        </div>
    </div>
</div>