<div class="section-2-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col section-2-box wow fadeInLeft">
                <h3>{{ 'CLIENTONBOARD.FREELANCER' | translate }}</h3>
                <p>{{ 'CLIENTONBOARD.FREELANCER1' | translate }}</p>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <span class="fa fa-user logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>{{ 'SERVICE.UPDATEYOURACCOUNT' | translate }}</h4>
                <h6 style="line-height: 20px;text-align: left;">
                    <p>{{ 'SERVICE.UPDATEYOURACCOUNT1' | translate }}</p>
                </h6>
            </div>
           
            <div class="col-sm-2">
                <span class="fa fa-binoculars  logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>{{ 'SERVICE.BACKGROUNDCHECK' | translate }}</h4>
                <h6 style="line-height: 20px;text-align: left;">
                    <p>{{ 'SERVICE.BACKGROUNDCHECK1' | translate }}</p>
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <span class="fa fa-university logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>{{ 'SERVICE.PAYFOROPPORTUNITY' | translate }}</h4>
                <h6 style="line-height: 20px; text-align: left;">
                    <p>{{ 'SERVICE.PAYFOROPPORTUNITY1' | translate }}</p>
                </h6>
            </div>
            <div class="col-sm-2">
                <span class="fas fa-briefcase logo-small"></span>
            </div>
            <div class="col-sm-4">
                <h4>{{ 'SERVICE.JOBASSIGNMENT' | translate }}</h4>
                <h6 style="line-height: 20px; text-align: left;">
                    <p>{{ 'SERVICE.JOBASSIGNMENT1' | translate }}</p>
                </h6>
            </div>
        </div>
    </div>
</div>