<h3 class="display-6 d-none d-sm-block">
    Welcome Back {{userService.currentUserValue.fullname}} having role
    :{{userService.currentUserValue.userroles.rolecode}}
</h3>
<app-dashboardoffu *ngIf="userService.currentUserValue.userroles.rolecode =='FREELANCER_USER'"></app-dashboardoffu>
<app-dashboardofcba *ngIf="userService.currentUserValue.userroles.rolecode == 'CLIENT_BUSINESS_ADMINISTRATOR'">
</app-dashboardofcba>
<app-dashboardofadmin *ngIf="userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_TEAM' || 
userService.currentUserValue.userroles.rolecode =='CORE_SERVICE_SUPPORT_MANAGER' "></app-dashboardofadmin>